<div class="gh-card">
  <div class="gh-card-header">
    <h3>Create Encrypted Message</h3>
  </div>
  <div class="gh-card-body">
    <form id="encryptForm">
      <div class="mb-3">
        <label for="richEditor" class="form-label">Message</label>

        <!-- Rich Text Editor - Now Full Width -->
        <div class="rich-editor-container" id="richEditorContainer">
          <div class="rich-editor-toolbar">
            <button type="button" class="rich-editor-button" data-command="bold" title="Bold">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 16 16">
                <rect width="16" height="16" fill="none" />
                <path fill="currentColor" d="M4 2h4.5a3.501 3.501 0 0 1 2.852 5.53A3.499 3.499 0 0 1 9.5 14H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1m1 7v3h4.5a1.5 1.5 0 0 0 0-3Zm3.5-2a1.5 1.5 0 0 0 0-3H5v3Z" />
              </svg>
            </button>
            <button type="button" class="rich-editor-button" data-command="italic" title="Italic">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 16 16">
                <rect width="16" height="16" fill="none" />
                <path fill="currentColor" d="M6 2.75A.75.75 0 0 1 6.75 2h6.5a.75.75 0 0 1 0 1.5h-2.505l-3.858 9H9.25a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5h2.505l3.858-9H6.75A.75.75 0 0 1 6 2.75" />
              </svg>
            </button>
            <button type="button" class="rich-editor-button" data-command="strikeThrough" title="Strikethrough">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 16 16">
                <rect width="16" height="16" fill="none" />
                <path fill="currentColor" d="M11.055 8.5c.524.536.815 1.257.811 2.007a3.13 3.13 0 0 1-1.12 2.408C9.948 13.597 8.748 14 7.096 14c-1.706 0-3.104-.607-3.902-1.377a.751.751 0 0 1 1.042-1.079c.48.463 1.487.956 2.86.956c1.422 0 2.232-.346 2.676-.726c.435-.372.594-.839.594-1.267c0-.472-.208-.857-.647-1.197c-.448-.346-1.116-.623-1.951-.81H1.75a.75.75 0 0 1 0-1.5h12.5a.75.75 0 0 1 0 1.5ZM7.581 3.25c-2.036 0-2.778 1.082-2.778 1.786q0 .082.006.157a.75.75 0 0 1-1.496.114a4 4 0 0 1-.01-.271c0-1.832 1.75-3.286 4.278-3.286c1.418 0 2.721.58 3.514 1.093a.75.75 0 1 1-.814 1.26c-.64-.414-1.662-.853-2.7-.853" />
              </svg>
            </button>
            <button type="button" class="rich-editor-button" data-command="code" title="Code">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 20 20">
                <rect width="20" height="20" fill="none" />
                <path fill="currentColor" d="M5.719 14.75a1 1 0 0 1-.664-.252L-.005 10l5.341-4.748a1 1 0 0 1 1.328 1.495L3.005 10l3.378 3.002a1 1 0 0 1-.664 1.748m8.945-.002L20.005 10l-5.06-4.498a.999.999 0 1 0-1.328 1.495L16.995 10l-3.659 3.252a1 1 0 0 0 1.328 1.496m-4.678 1.417l2-12a1 1 0 1 0-1.972-.329l-2 12a1 1 0 1 0 1.972.329" />
              </svg>
            </button>

            <div class="rich-editor-divider"></div>

            <button type="button" class="rich-editor-button" data-command="formatBlock" data-value="h1" title="Heading 1">
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="-5 -7 24 24">
                <rect x="-5" y="-7" width="24" height="24" fill="none" />
                <path fill="currentColor" d="M2 4h4V1a1 1 0 1 1 2 0v8a1 1 0 1 1-2 0V6H2v3a1 1 0 1 1-2 0V1a1 1 0 1 1 2 0zm9.52.779H10V3h3.36v7h-1.84z" />
              </svg>
            </button>
            <button type="button" class="rich-editor-button" data-command="formatBlock" data-value="h2" title="Heading 2">
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="-4.5 -7 24 24">
                <rect x="-4.5" y="-7" width="24" height="24" fill="none" />
                <path fill="currentColor" d="M2 4h4V1a1 1 0 1 1 2 0v8a1 1 0 1 1-2 0V6H2v3a1 1 0 1 1-2 0V1a1 1 0 1 1 2 0zm12.88 4.352V10H10V8.986l.1-.246l1.785-1.913c.43-.435.793-.77.923-1.011c.124-.23.182-.427.182-.587c0-.14-.04-.242-.127-.327a.47.47 0 0 0-.351-.127a.44.44 0 0 0-.355.158c-.105.117-.165.288-.173.525l-.012.338h-1.824l.016-.366c.034-.735.272-1.33.718-1.77S11.902 3 12.585 3q.637 0 1.14.275a2.1 2.1 0 0 1 .806.8q.299.516.3 1.063c0 .416-.23.849-.456 1.307c-.222.45-.534.876-1.064 1.555l-.116.123l-.254.229z" />
              </svg>
            </button>
            <button type="button" class="rich-editor-button" data-command="formatBlock" data-value="h3" title="Heading 3">
              <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="-4.5 -6.5 24 24">
                <rect x="-4.5" y="-6.5" width="24" height="24" fill="none" />
                <path fill="currentColor" d="M2 4h4V1a1 1 0 1 1 2 0v8a1 1 0 1 1-2 0V6H2v3a1 1 0 1 1-2 0V1a1 1 0 1 1 2 0zm12.453 2.513l.043.055c.254.334.38.728.38 1.172c0 .637-.239 1.187-.707 1.628c-.466.439-1.06.658-1.763.658c-.671 0-1.235-.209-1.671-.627s-.673-.983-.713-1.676L10 7.353h1.803l.047.295c.038.238.112.397.215.49c.1.091.23.137.402.137a.57.57 0 0 0 .422-.159a.5.5 0 0 0 .158-.38c0-.163-.067-.295-.224-.419c-.17-.134-.438-.21-.815-.215l-.345-.004v-1.17l.345-.004c.377-.004.646-.08.815-.215c.157-.124.224-.255.224-.418a.5.5 0 0 0-.158-.381a.57.57 0 0 0-.422-.159a.57.57 0 0 0-.402.138c-.103.092-.177.251-.215.489l-.047.295H10l.022-.37c.04-.693.277-1.258.713-1.675c.436-.419 1-.628 1.67-.628c.704 0 1.298.22 1.764.658c.468.441.708.991.708 1.629a1.9 1.9 0 0 1-.424 1.226" />
              </svg>
            </button>

            <div class="rich-editor-divider"></div>

            <button type="button" class="rich-editor-button" data-command="insertUnorderedList" title="Bullet List">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 16 16">
                <rect width="16" height="16" fill="none" />
                <path fill="currentColor" d="M2 4.5a1 1 0 1 0 0-2a1 1 0 0 0 0 2M2 9a1 1 0 1 0 0-2a1 1 0 0 0 0 2m1 3.5a1 1 0 1 1-2 0a1 1 0 0 1 2 0M5.5 3a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zM5 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 5 8m.5 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z" />
              </svg>
            </button>
            <button type="button" class="rich-editor-button" data-command="insertOrderedList" title="Numbered List">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 2048 2048">
                <rect width="2048" height="2048" fill="none" />
                <path fill="currentColor" d="M2048 384v128H512V384zM512 896h1536v128H512zm0 512h1536v128H512zM135 349q-14 11-37 21t-43 11v-69q31-11 59-24t54-33h49v385h-82zm-1 420q25 0 47 6t39 20t26 34t10 47q0 31-12 54t-29 42t-39 33t-38 27t-30 25t-12 26h160v69H5v-41q0-18 10-39q15-34 41-57t51-44t45-40t19-47q0-27-15-38t-40-11q-26 0-49 11t-44 28v-73q50-32 111-32m36 699q36 5 61 27t25 61q0 31-12 53t-33 35t-46 20t-54 7q-24 0-48-4t-47-15v-73q19 14 41 21t47 7q26 0 46-11t21-41q0-22-13-32t-31-15t-39-5t-34 0v-64h32q18 0 34-3t28-14t12-31q0-26-16-36t-40-10q-39 0-74 24v-68q22-11 45-15t48-5q22 0 44 5t39 16t28 30t11 43q0 38-19 60t-56 32z" />
              </svg>
            </button>
            <button type="button" class="rich-editor-button" data-command="createLink" title="Insert Link">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 16 16">
                <rect width="16" height="16" fill="none" />
                <path fill="currentColor" d="m7.775 3.275l1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0a.75.75 0 0 1 .018-1.042a.75.75 0 0 1 1.042-.018a2 2 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.75.75 0 0 1-1.042-.018a.75.75 0 0 1-.018-1.042m-4.69 9.64a2 2 0 0 0 2.83 0l1.25-1.25a.75.75 0 0 1 1.042.018a.75.75 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0a.75.75 0 0 1-.018 1.042a.75.75 0 0 1-1.042.018a2 2 0 0 0-2.83 0l-2.5 2.5a2 2 0 0 0 0 2.83" />
              </svg>
            </button>

            <button type="button" class="rich-editor-expand" id="expandEditor" title="Toggle expanded view">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M15 3h6v6M9 21H3v-6M21 3l-7 7M3 21l7-7"/>
              </svg>
            </button>
          </div><div id="richEditor" class="rich-editor-content" contenteditable="true" placeholder="Enter your message here..."></div>
          <input type="hidden" id="hidden_message" name="message">
        </div>
      </div>

      <!-- Settings Panels - Now Horizontal Below Message -->
      <div class="settings-row">
        <!-- Password Protection Panel with inline toggle -->
        <div class="gh-setting-panel">
          <div class="gh-setting-header">
            <div class="gh-setting-title-row">
              <div class="gh-setting-title">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                  <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                </svg>
                Password Protection
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="passwordToggle">
                <label class="form-check-label" for="passwordToggle"></label>
              </div>
            </div>
            <div class="gh-setting-description">Require a password to access this content</div>
          </div>
          <div class="gh-setting-controls">
            <div id="passwordContainer" class="password-input-container" style="display:none;">
              <input type="password" class="form-control form-control-sm" id="passwordInput" placeholder="Enter password...">
            </div>
          </div>
        </div>

        <!-- Expiration Panel -->
        <div class="gh-setting-panel">
          <div class="gh-setting-header">
            <div class="gh-setting-title">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="12"></line>
                <line x1="12" y1="16" x2="12.01" y2="16"></line>
              </svg>
              Expiration Time
            </div>
            <div class="gh-setting-description">Message expires automatically after</div>
          </div>
          <div class="gh-setting-controls">
            <select class="form-select" id="ttlSelect">
              <option value="3600">1 hour</option>
              <option value="86400" selected>1 day</option>
              <option value="604800">1 week</option>
            </select>
          </div>
        </div>

        <!-- View Limit Panel -->
        <div class="gh-setting-panel">
          <div class="gh-setting-header">
            <div class="gh-setting-title">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                <path d="M8.5 7h7l3.5 3.5-7 7-7-7L8.5 7z"></path>
              </svg>
              View Limit
            </div>
            <div class="gh-setting-description">Self-destruct after this many views</div>
          </div>
          <div class="gh-setting-controls">
            <select class="form-select" id="viewsSelect">
              <option value="1" selected>1 view</option>
              <option value="2">2 views</option>
              <option value="3">3 views</option>
              <option value="5">5 views</option>
            </select>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Attach Files (optional, max 1000MB total)</label>
        <div id="dropArea" class="file-upload-area">
          <div id="dropAreaDefault">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mb-2">
              <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
              <polyline points="17 8 12 3 7 8"></polyline>
              <line x1="12" y1="3" x2="12" y2="15"></line>
            </svg>
            <p class="mb-1">Drag & drop files here, or click to select</p>
            <small class="text-muted">Files are encrypted in your browser before uploading</small>
          </div>
          <input type="file" id="fileInput" style="display:none;" multiple>
        </div>
      </div>

      <!-- Files table with pagination -->
      <div id="filesContainer" class="mt-3" style="display:none;">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="gh-setting-title">Selected Files</div>
          <span id="totalSize" class="text-muted">Total: 0 MB</span>
        </div>

        <div class="gh-file-list">
          <div id="filesListBody">
            <!-- File items will be added dynamically -->
          </div>
        </div>

        <!-- Pagination controls -->
        <div id="pagination" class="gh-pagination mt-2"></div>
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="me-1">
            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
            <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
          </svg>
          Encrypt & Generate Link
        </button>
      </div>
    </form>

    <div id="resultContainer" class="mt-4 d-none">
      <div class="gh-flash gh-flash-success">
        <div class="gh-flash-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
            <polyline points="22 4 12 14.01 9 11.01"></polyline>
          </svg>
        </div>
        <div class="gh-flash-content">
          <div class="gh-flash-title">Your encrypted link has been generated</div>
          <div class="input-group mb-2 mt-2">
            <input type="text" id="encryptedLink" class="form-control" readonly>
            <button class="btn btn-outline-primary" type="button" id="copyButton">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="me-1">
                <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
              </svg>
              Copy
            </button>
          </div>
          <p class="mb-0 text-muted small" id="resultMessage">This link contains the decryption key. Anyone with this link can view your message or download your files.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  // Import encryption module
  import { encryptMessage, encryptFiles } from "/encrypt.js";

  // Rich Text Editor functionality
  document.addEventListener('DOMContentLoaded', function() {
    const editor = document.getElementById('richEditor');
    const hiddenInput = document.getElementById('hidden_message');
    const expandButton = document.getElementById('expandEditor');
    const editorContainer = document.getElementById('richEditorContainer');

    // Function to toggle expanded view
    expandButton.addEventListener('click', function() {
      editorContainer.classList.toggle('expanded');

      // Update expand button icon
      if (editorContainer.classList.contains('expanded')) {
        this.innerHTML = `
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M4 14h6v6M20 10h-6V4M14 10l7-7M3 21l7-7"/>
          </svg>
        `;
        this.title = "Collapse editor";
      } else {
        this.innerHTML = `
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M15 3h6v6M9 21H3v-6M21 3l-7 7M3 21l7-7"/>
          </svg>
        `;
        this.title = "Expand editor";
      }
    });

    if (editor && hiddenInput) {
      // Initialize click handlers for toolbar buttons
      const buttons = document.querySelectorAll('.rich-editor-button');

      buttons.forEach(button => {
        button.addEventListener('click', function(e) {
          e.preventDefault();

          const command = this.getAttribute('data-command');
          const value = this.getAttribute('data-value') || null;

          // Handle special cases
          if (command === 'createLink') {
            const url = prompt('Enter the link URL:');
            if (url) {
              document.execCommand(command, false, url);
            }
          } else if (command === 'formatBlock') {
            document.execCommand(command, false, value);
          } else if (command === 'insertHTML') {
            document.execCommand(command, false, value);
          } else {
            // Standard commands
            document.execCommand(command, false, null);
          }

          // Update active states
          updateButtonStates();

          // Update hidden input with the content
          updateHiddenInput();

          // Focus back on editor
          editor.focus();
        });
      });

      // Update button active states based on current selection
      function updateButtonStates() {
        buttons.forEach(button => {
          const command = button.getAttribute('data-command');

          if (command === 'formatBlock') {
            const value = button.getAttribute('data-value');
            const formatBlock = document.queryCommandValue('formatBlock');
            button.classList.toggle('active', formatBlock.toLowerCase() === value);
          } else {
            button.classList.toggle('active', document.queryCommandState(command));
          }
        });
      }

      // Update hidden input when editor content changes
      editor.addEventListener('input', updateHiddenInput);
      editor.addEventListener('keyup', updateButtonStates);
      editor.addEventListener('mouseup', updateButtonStates);

      // Function to update hidden input
      function updateHiddenInput() {
        hiddenInput.value = editor.innerHTML;
      }

      // Initialize editor with focus
      setTimeout(() => {
        editor.focus();
      }, 100);
    }
  });

  // File handling variables
  let selectedFiles = [];
  const MAX_SIZE = 1000 * 1024 * 1024; // 1000MB in bytes
  let currentPage = 1;
  const itemsPerPage = 5;

  // File icons - GitHub-style icons
  const fileIcons = {
    // Document types
    'pdf': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5Z"/><polyline points="14 4 9 4 9 0"/></svg>',
    'doc': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5Z"/><polyline points="14 4 9 4 9 0"/></svg>',
    'docx': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5Z"/><polyline points="14 4 9 4 9 0"/></svg>',

    // Image files
    'jpg': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><rect width="14" height="14" x="1" y="1" rx="2"/><circle cx="5" cy="5" r="1"/><path d="m15 11-5-5L2 15"/></svg>',
    'jpeg': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><rect width="14" height="14" x="1" y="1" rx="2"/><circle cx="5" cy="5" r="1"/><path d="m15 11-5-5L2 15"/></svg>',
    'png': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><rect width="14" height="14" x="1" y="1" rx="2"/><circle cx="5" cy="5" r="1"/><path d="m15 11-5-5L2 15"/></svg>',

    // E-book files
    'epub': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5Z"/><polyline points="14 4 9 4 9 0"/><path d="M6 7h4M6 9h4M6 11h2"/></svg>',
    'mobi': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5Z"/><polyline points="14 4 9 4 9 0"/><path d="M6 7h4M6 9h4M6 11h2"/></svg>',

    // Default for other files
    'default': '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor"><path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5Z"/></svg>'
  };

  // Set up file drag & drop
  const dropArea = document.getElementById('dropArea');
  const fileInput = document.getElementById('fileInput');
  const dropAreaDefault = document.getElementById('dropAreaDefault');
  const filesContainer = document.getElementById('filesContainer');
  const filesListBody = document.getElementById('filesListBody');
  const totalSizeElement = document.getElementById('totalSize');
  const paginationElement = document.getElementById('pagination');
  const passwordToggle = document.getElementById('passwordToggle');
  const passwordContainer = document.getElementById('passwordContainer');
  const passwordInput = document.getElementById('passwordInput');

  // Setup password toggle
  passwordToggle.addEventListener('change', function() {
    passwordContainer.style.display = this.checked ? 'block' : 'none';
    if (!this.checked) {
      passwordInput.value = '';
    }
  });

  // Prevent default behaviors
  ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, preventDefaults, false);
  });

  function preventDefaults(e) {
    e.preventDefault();
    e.stopPropagation();
  }

  // Highlight drop area when dragging file over it
  ['dragenter', 'dragover'].forEach(eventName => {
    dropArea.addEventListener(eventName, highlight, false);
  });

  ['dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, unhighlight, false);
  });

  function highlight() {
    dropArea.classList.add('dragover');
  }

  function unhighlight() {
    dropArea.classList.remove('dragover');
  }

  // Handle dropped files
  dropArea.addEventListener('drop', handleDrop, false);

  function handleDrop(e) {
    const dt = e.dataTransfer;
    const files = dt.files;
    if (files.length) {
      handleFiles(Array.from(files));
    }
  }

  // Handle file input
  dropArea.addEventListener('click', () => {
    fileInput.click();
  });

  fileInput.addEventListener('change', (e) => {
    if (e.target.files.length) {
      handleFiles(Array.from(e.target.files));
    }
  });

  // Process selected files
  function handleFiles(files) {
    // Calculate total size including existing files
    const existingSize = selectedFiles.reduce((total, file) => total + file.size, 0);
    const newSize = files.reduce((total, file) => total + file.size, 0);
    const totalSize = existingSize + newSize;

    if (totalSize > MAX_SIZE) {
      alert(`Total file size exceeds the 1000MB limit. Please select fewer or smaller files.`);
      return;
    }

    // Add new files to the array
    selectedFiles = [...selectedFiles, ...files];

    // Show files container
    filesContainer.style.display = 'block';

    // Update the file list and pagination
    updateFilesList();
  }

  // Format file size
  function formatFileSize(bytes) {
    if (bytes < 1024) return bytes + ' bytes';
    else if (bytes < 1024 * 1024) return (bytes / 1024).toFixed(2) + ' KB';
    else if (bytes < 1024 * 1024 * 1024) return (bytes / (1024 * 1024)).toFixed(2) + ' MB';
    else return (bytes / (1024 * 1024 * 1024)).toFixed(2) + ' GB';
  }

  // Update files list with GitHub-style file list
  function updateFilesList() {
    // Update total size
    const totalSize = selectedFiles.reduce((total, file) => total + file.size, 0);
    totalSizeElement.textContent = `Total: ${formatFileSize(totalSize)}`;

    // Calculate pagination
    const totalPages = Math.ceil(selectedFiles.length / itemsPerPage);
    const startIndex = (currentPage - 1) * itemsPerPage;
    const endIndex = Math.min(startIndex + itemsPerPage, selectedFiles.length);
    const currentFiles = selectedFiles.slice(startIndex, endIndex);

    // Clear the list
    filesListBody.innerHTML = '';

    // Add file items
    currentFiles.forEach((file, index) => {
      const actualIndex = startIndex + index;
      const extension = file.name.split('.').pop().toLowerCase();
      const iconSvg = fileIcons[extension] || fileIcons['default'];

      const fileItem = document.createElement('div');
      fileItem.className = 'gh-file-item';
      fileItem.innerHTML = `
        <div class="gh-file-details">
          <div class="gh-file-icon">${iconSvg}</div>
          <div class="gh-file-name">${file.name}</div>
          <div class="gh-file-meta">
            <span class="gh-file-size">${formatFileSize(file.size)}</span>
            <span class="gh-file-type">${file.type || 'Unknown'}</span>
          </div>
        </div>
        <div class="gh-file-actions">
          <button type="button" class="btn btn-sm btn-outline-danger btn-icon" data-index="${actualIndex}">
            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M3 6h18"></path>
              <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
            </svg>
          </button>
        </div>
      `;

      // Add remove button event
      const removeButton = fileItem.querySelector('button');
      removeButton.addEventListener('click', (e) => {
        const index = parseInt(e.currentTarget.dataset.index);
        selectedFiles.splice(index, 1);
        updateFilesList();

        // Hide the container if no files
        if (selectedFiles.length === 0) {
          filesContainer.style.display = 'none';
        }
      });

      filesListBody.appendChild(fileItem);
    });

    // Update pagination controls
    updatePagination(totalPages);
  }

  // Update pagination controls
  function updatePagination(totalPages) {
    paginationElement.innerHTML = '';

    if (totalPages <= 1) {
      return;
    }

    // Previous button
    const prevButton = document.createElement('a');
    prevButton.href = '#';
    prevButton.className = `gh-page-link ${currentPage === 1 ? 'disabled' : ''}`;
    prevButton.innerHTML = '&laquo;';
    prevButton.addEventListener('click', (e) => {
      e.preventDefault();
      if (currentPage > 1) {
        currentPage--;
        updateFilesList();
      }
    });

    const prevItem = document.createElement('div');
    prevItem.className = 'gh-page-item';
    prevItem.appendChild(prevButton);
    paginationElement.appendChild(prevItem);

    // Page numbers
    for (let i = 1; i <= totalPages; i++) {
      const pageLink = document.createElement('a');
      pageLink.href = '#';
      pageLink.className = `gh-page-link ${i === currentPage ? 'active' : ''}`;
      pageLink.textContent = i;
      pageLink.addEventListener('click', (e) => {
        e.preventDefault();
        currentPage = i;
        updateFilesList();
      });

      const pageItem = document.createElement('div');
      pageItem.className = 'gh-page-item';
      pageItem.appendChild(pageLink);
      paginationElement.appendChild(pageItem);
    }

    // Next button
    const nextButton = document.createElement('a');
    nextButton.href = '#';
    nextButton.className = `gh-page-link ${currentPage === totalPages ? 'disabled' : ''}`;
    nextButton.innerHTML = '&raquo;';
    nextButton.addEventListener('click', (e) => {
      e.preventDefault();
      if (currentPage < totalPages) {
        currentPage++;
        updateFilesList();
      }
    });

    const nextItem = document.createElement('div');
    nextItem.className = 'gh-page-item';
    nextItem.appendChild(nextButton);
    paginationElement.appendChild(nextItem);
  }

  // Handle form submission
  document.getElementById('encryptForm').addEventListener('submit', async function(e) {
    e.preventDefault();

    // Get message from the rich text editor
    const message = document.getElementById('hidden_message').value;

    const ttl = parseInt(document.getElementById('ttlSelect').value);
    const views = parseInt(document.getElementById('viewsSelect').value);
    const usePassword = passwordToggle.checked;
    const password = usePassword ? passwordInput.value : '';

    // Check if either message or files are provided
    if ((!message || message.trim() === '') && selectedFiles.length === 0) {
      alert('Please enter a message or select at least one file.');
      return;
    }

    // If password protection is enabled, validate the password
    if (usePassword && (!password || password.length < 1)) {
      alert('Please enter a password.');
      return;
    }

    try {
      // Show loading state
      const submitBtn = this.querySelector('button[type="submit"]');
      const originalText = submitBtn.innerHTML;
      submitBtn.disabled = true;
      submitBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...';

      let link;

      if (selectedFiles.length > 0) {
        // Encrypt files and message
        link = await encryptFiles(
          selectedFiles,
          message,
          ttl,
          views,
          password
        );
      } else {
        // Encrypt text message only
        link = await encryptMessage(message, ttl, views, password);
      }

      // Display the result
      document.getElementById('encryptedLink').value = link;
      document.getElementById('resultContainer').classList.remove('d-none');

      // Update result message based on password protection
      const resultMessage = document.getElementById('resultMessage');
      if (usePassword) {
        resultMessage.textContent = 'This link requires a password to access. Share both the link and password separately for maximum security.';
      } else {
        resultMessage.textContent = 'This link contains the decryption key. Anyone with this link can view your message or download your files.';
      }

      // Reset form state
      submitBtn.disabled = false;
      submitBtn.innerHTML = originalText;
      this.reset();

      // Reset editor expansion
      const editorContainer = document.getElementById('richEditorContainer');
      const expandButton = document.getElementById('expandEditor');

      if (editorContainer.classList.contains('expanded')) {
        editorContainer.classList.remove('expanded');
        expandButton.innerHTML = `
          <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M15 3h6v6M9 21H3v-6M21 3l-7 7M3 21l7-7"/>
          </svg>
        `;
        expandButton.title = "Expand editor";
      }

      // Clear the rich text editor
      document.getElementById('richEditor').innerHTML = '';
      document.getElementById('hidden_message').value = '';

      selectedFiles = [];
      filesContainer.style.display = 'none';
      passwordContainer.style.display = 'none';

      // Scroll to the result
      document.getElementById('resultContainer').scrollIntoView({ behavior: 'smooth' });
    } catch (error) {
      alert('Error: ' + error.message);
      console.error(error);
    }
  });

  // Handle copy button
  document.getElementById('copyButton').addEventListener('click', function() {
    const linkInput = document.getElementById('encryptedLink');
    linkInput.select();
    document.execCommand('copy');

    // Visual feedback
    const originalText = this.innerHTML;
    this.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="me-1"><path d="M20 6 9 17l-5-5"/></svg> Copied!';
    this.classList.add('btn-success');
    this.classList.remove('btn-outline-primary');

    setTimeout(() => {
      this.innerHTML = originalText;
      this.classList.remove('btn-success');
      this.classList.add('btn-outline-primary');
    }, 2000);
  });
</script>
