/* Panel fixes */
.gh-setting-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gh-setting-title {
  margin-bottom: 8px;
  font-weight: 600;
}

.form-select {
  margin-top: auto;
}
